body {
    font-family: 'Open Sans', sans-serif
}
#header {
    border-bottom: solid 2px;
    display: flex;
}
#studio {
    color: rgb(85, 85, 85);
    float: left;
    margin-left: 20px;
    padding: 5px;
    margin-top: -13px;
}
#links {
    float: right;
    margin-left: auto;
    padding-right: 10px;
    display: block;
    padding-top: 20px;
}
li {
    list-style-type: none;
    margin: 10px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
    display: inline;
    font-size: 20px;

}
#body {
    display: flex;
}
#name {
    margin: auto;
    text-align: center;
}
img {
    float: left;
    height: 200px;
    width: 300px;
    object-fit: contain;
    margin: 10px 50px 50px 50px;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
}